[submodule "e2e"]
	path = e2e
	url = https://github.com/johnshift/multirepo-e2e
[submodule "backend"]
	path = backend
	url = https://github.com/johnshift/multirepo-backend
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/johnshift/multirepo-frontend
	branch = dev
